<div class="banner">
  <h1 class="title">Movies list</h1>
</div>

<div class="cards">
<% @lists.each do |list| %>
  <div class="card-category">
<%= link_to list.name, list_path(list), class: 'card__category-item' %>
  </div>
<% end %>
</div>
