<div class="banner">
  <h1>My lists</h1>
</div>

<table>
  <tr>
    <% @lists.each do |list| %>
    <tr><td><%= link_to list.name, list_path(list), class: "lists__item" %></td></tr>
    <% end %>
  </tr>
</table>
