<div class="container">
  <h1 class="title">New list</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name, class: "name__field" %>
    <%= f.submit "Create", class: 'button' %>
  <% end %>
</div>
